#page{
    background-color: #667394;
}

#user-image {
    border-radius: 50;
    width: 70dp;
    height: 70dp;
    margin-top: 20dp;
    horizontal-align: center;
    vertical-align: top;
    align-self: center;
}
#border {
	background-color: #899BFE;
    width : 80%;
    height: 80%;
    margin-bottom: 20;
	z-index: -1;
}
#user-main {
    background-color: #30BCFF;
    horizontal-align: center;
    width : 80%;
    height: 80%;
    margin-top: -30;
    margin-bottom: 30;
    z-index: -1;
}
#info-section {
	background-color: white;
    padding : 30 10 10 10;
}
#switch {
    horizontal-align: right;
}
#button {
    color: white;
    font-size: 16;
    text-transform: uppercase;
	text-align : center;
	vertical-align : center;
}
