
.btn {
    font-size: 18;
}

.main{
    padding : 5px;
	background-color: #455a64;
}

.cardview {
    background-color: white;
    margin : 8;
}

.cardview Label {
    text-align: center;
    margin-top: 13;
}

.drawer-content {
	background-color: #3f5ff8;
}

.drawer-list {
	font-size: 15;
	color : white;
}
.drawer-list Label {
	padding : 10;
}

@import 'nativescript-theme-core/css/core.light.css';
