.recipeTitle {
    font-size: 16;
    color: #455b66;
    padding-top: 8;
    padding-left: 16;
}
#text_wrapped {
}

.recipeAuthor {
    font-size: 11;
    color: #455b66;
    padding-bottom: 8;
    padding-left: 16;

}
